<div class="container">


  <div class="row">
    <h1>Google sign in</h1>
    <div class="col-12"></div>
    <!-- card -->
    <div class="card text-center mx-auto" style="width: 18rem;" *ngIf="!logueado">

      <div class="card-header">
        usuario no registrado
      </div>
      <div class="card-body">
        <button class="btn btn-primary mx-auto" (click)="signInWithGoogle()">ingresar con google</button>
        <button style="margin-top: 15px;" class="btn btn-primary mx-auto" (click)="signInWithFB()">ingresar con fb</button>
      </div>
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card text-center mx-auto" style="width: 18rem;" *ngIf="logueado">
      <div class="card-header">
        usuario registrado
      </div>
      <img src="{{ usuario.photoUrl }}" class="card-img-top" alt="Photo">
      <div class="card-body">
        <h5 class="card-title">{{ usuario.name }}</h5>
        <p class="card-text">{{ usuario.email }}</p>
        <button class="btn btn-danger" (click)="signOut()">cerrar sesion</button>
      </div>
    </div>
    <!-- end card -->

  </div>


</div>
