<header>
  <h1>mi pagina</h1>
  <hr />
  <div>
    <div *ngIf="!user">
      <a [routerLink]="['/login']" routerLinkActive="active">iniciar sesion</a>
    </div>
    <div *ngIf="user">
      <a >{{user.name}}</a>
    </div>
    <div *ngIf="user">
      <a >{{user.lastName}}</a>
    </div>
    <div *ngIf="user">
      <img [src]="user.photoUrl" alt="" srcset="">
    </div>
    <button *ngIf="user" >
      cerrar sesion
    </button>
    <div class="">
      <a [routerLink]="['/home']" routerLinkActive="active">home </a>
    </div>
    <div class="">
      <a [routerLink]="['/admin']" routerLinkActive="active">admin </a>
    </div>
  </div>
</header>
<hr />
<router-outlet></router-outlet>
